body {
    background-color: blanchedalmond;
    background-image: linear-gradient(to bottom right, 	
    rgba(255, 128, 128, 0.3), rgba(255, 210, 82, 0.8));
    background-repeat: no-repeat;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.container {
    padding: 16px;
}

.input-container {
    display: flex;
}

.input-field {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
    font-size: x-large;
    font-weight: bold;
}
  
.input-field:hover {
    border: 3px solid #555;
}

.input-field:focus {
    border: 3px solid #555;
}

.search-button {
    align-self: center;
    margin-left: 32px;
    padding: 14px 40px;
    font-size: x-large;
    background-color: white;
    border-radius: 20px;
    color: black;
    border: 4px solid #555555;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.search-button:hover {
    background-color: #555555;
    color: white;
}

.list-header {
    margin-left: 16px;
}

.element-list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    margin: 16px;
    border: 2px solid #ccc;
}

.item-card {
   width: 250px;
   height: 400px;
   padding: 16px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   box-sizing: border-box;
    border-radius: 10px;
   transition: 0.1s;
   text-align: center;
   cursor: pointer;
}

.item-card:hover {
    box-shadow: 0 4px 8px 0 rgba(128, 159, 255, 1), 0 6px 20px 0 rgba(128, 159, 255, 1);
}

.card-image {
    max-width: 90%;
    height: 60%;
    border: 10px solid #415d6f2b;
    margin: 0 auto 8px;
}

.desc-block {
    border-radius: 25px;
    background-color: rgba(42, 42, 42, 0.1);
    padding: 8px;
}

.item-ref {
    margin: 16px;
    text-decoration: none;
    color: black;
}

.paging-center {
    text-align: center;
    margin-bottom: 32px;
}

.paging-block {
    display: inline-block;
    font-size: x-large;
    background-color: rgba(42, 42, 42, 0.1);
    padding: 16px;
    border-radius: 8px;
}

.paging-block a {
    color: black;
    float: left;
    padding: 16px 32px;
    margin: 0 4px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .2s;
}

.paging-block a.active {
    background-color: rgba(255, 156, 71, 0.73);
    color: white;
}

.paging-block a:hover:not(.active) {
    background-color: rgba(255, 156, 71, 0.36);
}

/* details */

.header {
    background-color: burlywood;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

.content-block {
    font-size: x-large;
    display: flex;
    margin: 64px;
}

.content-details {
    border-radius: 25px;
    background-color: rgba(42, 42, 42, 0.1);
    padding: 32px;
}

.back-link {
    text-decoration: none;
}

.detail-img {
    height: 400px;
    border: 2px solid #5c5c8a;
    margin-right: 32px;
}